<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <!------ Include the above in your HEAD tag ---------->
   <link rel="stylesheet" href="css/style.css">


</head>
<body>
    
<div class="col-md-8 col-md-offset-4 mx-auto" id="login">
    <section id="inner-wrapper" class="login">
        <article>
            <h4 class="text-center">Authentication Project</h4>
            <p class="text-center">Hello my dear student here is your best authentication tutorial </p>
            <br>
            <div class="row">

                   
                <div class="col-md-6">
                    <a href="/login" type="submit" class="btn btn-primary btn-block" > Login </a>
                 </div>

                 <div class="col-md-6">
                  
                    <a href="/registration" type="submit" class="btn btn-warning btn-block" >register </a>

                 </div>
               </div>


        </article>
    </section>

</div>


</body>
</html>

